.container{
    display:flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
h1{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
h3{
    text-align: center;
}
ul li{
    align-content: center;
    justify-items: start;
}
.newtask{
    border: 1px solid black;
    border-radius: 5px;
}
.input{
    border: none;
    margin-bottom: 10px;
}
.listfooter{
    text-align: end;
    border: 1px solid black;
    border-radius: 5px;
}
i{
    
}